.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--link-cl-txt);

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__dark {
  color: var(--tx-col-11);
}

.logo__light {
  color: var(--ligt-cl-txt);
}

.logo--header {
  padding-top: 16px;
  // margin-right: auto;
  padding-bottom: 16px;

  @media screen and(min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo--footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media screen and(min-width: 1200px) {
    display: inline-block;
  }
}
